modules = ["python-3.12"]
run = "analyze"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python src/web_app.py"]

[workflows]
runButton = "Web App"

[[workflows.workflow]]
name = "Web App"
author = 40603172
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/web_app.py"
